<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<p>Skal Thomas ha prygl?</p>


<p><img src="https://media0.giphy.com/media/PlOUb3bimqAbS/200.webp" alt="onde and" width="400" height="206"></p>


<div data-video="NoLdlmr-v2w"
     data-autoplay="1"
     data-loop="1"
     id="youtube-audio">
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>

<a href="yes">YES</a> <a href="no">NO</a>
</body>
</html>