<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tror du har clicket forkert</title>
</head>
<body>
<p><img src="https://media1.giphy.com/media/GtEYzSD9n0gE0/200w.webp" alt="sure and" width="400" height="206"></p>
hvis du har clicket forkert kan du bare clicke <a href="yes">her</a>
<div data-video="pHWEZ_IjcSk"
     data-autoplay="1"
     data-loop="1"
     id="youtube-audio">
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>
<p>Back to <a href="/">start</a></p>
</body>
</html>