<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slef skal han ha prygl!</title>
</head>
<body>
<p><img src="https://i.chzbgr.com/full/6883972352/hCE3482BF/" alt="jubel and" width="400" height="206"></p>
rigtigt svar!
<div data-video="l3w4I-KElxQ"
     data-autoplay="1"
     data-loop="1"
     id="youtube-audio">
</div>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>
<p>Back to <a href="/">start</a></p>
</body>
</html>